/* base.css */
@import url("https://fonts.googleapis.com/css2?family=sans-serif&Roboto&display=swap");

/* Global Variables */
:root {
    --primary-color: #2b547e;
    --secondary-color: #613a00;
    --accent-color: #000;
    --background-color: #f4f4f4;
    --text-color: #333;
    --highlight-color: #fff;
    --font-family: Roboto; sans-serif;
    --max-width: 1200px;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    max-width: var(--max-width);
    margin: 0; auto;
    padding: 1rem;
}

header {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--highlight-color);
    padding: 1rem 0;
    border-bottom: 4px solid var(--secondary-color);
}

header img {
    border-radius:50%;
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

header span {
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    margin-top: 1rem;
}

main h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

img {
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    position: relative;
    display: block;
}

footer {
    background-color: var(--primary-color);
    color: var(--highlight-color);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 4px solid var(--secondary-color);
}

footer img {
    width: 30px;
    vertical-align: middle;
    margin-left: 0.5rem;
}